TELEGRAM_API_ID=
TELEGRAM_API_HASH=
TELEGRAM_PHONE=
# Faqat login jarayonida vaqtincha kerak:
TELEGRAM_CODE=
TELEGRAM_PASSWORD=

TELEGRAM_CHANNEL=UstozShogird
TELEGRAM_IMPORT_LIMIT=100
TELEGRAM_SCAN_LIMIT=1500
